/* Global Vars */
$section-white: #fff;
$section-gray: #eee;

$border-color-base: #e1e1e1;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$grid-gutter-width: 30px;

$font-semibold: 400;
