*.phpintel
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.log
*.zip
*.tgz
*.gz
*.sql
*.old
sitemap*.xml
Thumbs.db
.hta*
backups/
.rsyncignore
import/

# wordpress specific
uploads/
blogs.dir*
upgrade/
backup-db/
advanced-cache.php
wp-cache-config.php
cache/
object-cache.php
db.php
object-cache.php
w3tc-config*
backups*
ai1wm-backups/
wp-snapshots/
replace-uploads.php
backwpup_readme.txt

# large/disallowed file types
# a CDN should be used for these
*.conf
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Logs
wp-content/themes/**/error_log

# --
license.txt
readme.html
wp-content/plugins/hello.php
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
node_modules/
.sass-cache/