.default-menu {
    padding-top: 10px;
}

.navbar-default a {
    color: #fff;
}

.profile {
    float: left;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 10px;
    .text-small {
        float: right;
        color: #fff;
    }
}

img.avatar.avatar-32.photo {
    margin-top: -6px;
    width: 32px;
}

.default-menu .mar-top {
    margin-top: 10px;
}

.default-menu .mar-top:last-child {
    margin-top: 0;
}

.jumbotron-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.lead {
    font-weight: 300;
}